.footerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  overflow: auto;
}

.footerSection a {
  text-decoration: none;
}

.footerSection h1,
.footerSection h2 {
  font-size: 1rem;
}

.footerSection h1 {
  margin-bottom: 0;
}

.footerSection h2 {
  font-weight: lighter;
  margin-bottom: 5rem;
}

.footerDarkMode {
  background-color: var(--dark-bg-two);
}

.footerLightMode {
  background-color: var(--light-bg-two);
}

.footerDarkMode h1,
.footerDarkMode h2 {
  color: var(--dark-text-two);
}

.icons {
  margin-top: 4rem;
  font-size: 2.5rem;
}

.icons a {
  text-decoration: none;
  margin: 0 0.25rem;
}

.darkModeIcons a {
  color: var(--dark-highlight);
}

.lightModeIcons a {
  color: var(--light-highlight);
}

.footerLightMode h1,
.footerLightMode h2 {
  color: var(--light-text-two);
}
