.footerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  overflow: auto;
}

.footerDarkMode {
  background-color: var(--dark-bg-two);

}

.footerDarkMode h1,
.footerDarkMode h2 {
  color: var(--dark-text-two);
}

.icons {
  color: yellow;
  margin-top: 4rem;
  font-size: 2.5rem;
}

.footerLightMode h1,
.footerLightMode h2 {
  color: var(--light-text-two);
}
