.learningSection {
  margin: 0 auto;
  max-width: 62.5rem;
  margin-top: 10rem;
}


.learningDarkMode h1 {
  color: var(--dark-text-one);
}

.learningLightMode h1 {
  color: var(--light-text-one);
}

.learningDarkMode h2 {
  color: var(--dark-text-two);
}

.learningLightMode h2 {
  color: var(--light-text-two);
}

.icon {
  font-size: 4rem;
}

.learningDarkMode svg {
  color: var(--dark-text-two);
}

.learningLightMode svg {
  color: var(--light-text-two);
}