.projectsSection {
  margin: 5rem auto;
  max-width: 62.5rem;
}

.projectsSection h1 {
  font-size: 2rem;
}

.projectsSectionDarkMode h1 {
  color: var(--dark-text-one);
}

.projectsSectionLightMode h1 {
  color: var(--light-bg-one);
}

.otherProjects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 720px) {
  .otherProjects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}