.background {
  height: 100vh;
  width: 100vw;
}

.backgroundDark {
  background-color: var(--dark-bg-one);
}

.backgroundLight {
  background-color: var(--light-bg-one);
}

.mainContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 100rem;
  min-height: 100vh;
}