:root {
  --dark-bg-one: #1e1f26;
  --dark-bg-two: #283754;
  --dark-text-one: #ffffff;
  --dark-text-two: #d0e2f9;
  --dark-highlight: #e5dd52;
  --light-bg-one: #ffffff;
  --light-bg-two: #f1f2d0;
  --light-text-one: #03293a;
  --light-text-two: #03293a;
  --light-highlight: #f42b1b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
