.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 3.5rem;
  overflow: hidden;
  z-index: 10;
}
.navLinks {
  align-self: center;
  margin-right: auto;
}

.navbarDark {
  background-color: var(--dark-bg-two);
}

.navbarDark a {
  color: var(--dark-text-two);
  border-bottom: 3px solid transparent;
}

.navbarDark a:hover {
  border-bottom: 3px solid var(--dark-highlight);
  color: var(--dark-highlight);
}

.navbarDark .darkLightModeIcon {
  color: var(--dark-text-two);
}

.navbarLight {
  background-color: var(--light-bg-two);
}

.navbarLight a {
  color: var(--light-text-two);
  border-bottom: 3px solid transparent;
}

.navbarLight a:hover {
  border-bottom: 3px solid var(--light-highlight);
  color: var(--light-highlight);
}

.navbar a {
  /* display: block; */
  /* font-family: 'Roboto'; */
  justify-self: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem;
  align-self: center;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.darkLightModeIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  margin-right: auto;
  padding-left: 1rem;
  height: 3.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.iconDarkMode {
  color: var(--dark-text-two);
}

.iconDarkMode:hover {
  color: var(--dark-highlight)
}

.iconLightMode {
  color: var(--light-text-two);
}

.iconLightMode:hover {
  color: var(--light-highlight);
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeInAnimation 0.5s forwards;
  margin-left: 15px;
}

.fadeOut {
  animation: fadeOutAnimation 0.5s forwards;
  margin-left: 0;
  width: 0;
}

@media (max-width: 412px) {
  .navbar a {
    /* font-size: 0.75rem; */
    padding: 1rem 0.5rem;
  }

  .darkLightModeIcon {
    font-size: 1rem;
  }
}